
//
// _chart.scss
//

.morris-chart {
    text {
        @apply font-base;
    }
}
.morris-hover {
    position: absolute;
    z-index: 10;

    &.morris-default-style {
        font-size: 12px;
        text-align: center;
        border-radius: 5px;
        padding: 10px 12px;
        @apply bg-dark text-white font-base;

        .morris-hover-row-label {
            font-weight: bold;
            margin: 0.25em 0;
            @apply font-base;
        }

        .morris-hover-point {
            white-space: nowrap;
            margin: 0.1em 0;
            color: white;
        }
    }
}